<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">
        <div id="productos-container">
            <ul id="productos-lista">
  
                <% products.forEach(prod => {  %>
  
                    <li class="li-listados productos-listados">
                        <img src=" <%= prod.image %> " alt=" <%= prod.name %> " class="img-listados">
                        <p>Id: <%= prod.id %> / Nombre: <%= prod.name %> / <strong>Precio: <%= prod.price %>  </strong></p>
                    </li> 
    
                <% }) %>
            </ul>
        </div>
    </main>

<%- include("partials/footer.ejs") %>